<!-- Задание 3
Настройте приложение из второго задания, чтобы
оно выводило в браузер текущую дату и время. -->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Текущая дата и время</title>
</head>
<body>
    <h1>Текущая дата и время:</h1>
    <p>{{ current_datetime }}</p>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Таблица умножения</title>
    <style>
   
</style>
</head>

</html>