{% extends 'home.html' %}

{% block title %}
    Новости города
{% endblock %}

{% block content %}
    <h1>Новости города</h1>

    <!-- Содержимое страницы новостей -->
    {% if news %}
        <div class="news-list">
            {% for el in news %}
            <div class="news-item">
                <a href="/news/{{el.id}}">
                    <img src="{{el.image}}" alt="{{el.title}}" />
                    <h2>{{el.title}}</h2>
                    <p>{{el.text}}</p>
                </a>
            </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if post %}
        <h1>{{post.title}}</h1>
        <p>{{post.text}}</p>
    {% endif %}

{% endblock %}