{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Текущее время</title>
    <!-- Подключаем CSS -->
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="clock-container">
        <div id="clock">qweqweqw</div>
        <div id="date">qweqeq</div>
    </div>

    <!-- Подключаем JavaScript -->
    <script src="{% static 'style.js' %}"></script>
</body>
</html>